{% extends 'base.html' %}
{% block navigation %}
<a class="active" href="{{ url_for('movies.movies_page') }}">Movies</a>
<a href="{{ url_for('reviews.reviews_page') }}">Reviews</a>
{% endblock navigation %}
{% block content %}
{{ super() }}

<div class="filter-year">
    <form action="" method="POST">
        {{ filter_form.hidden_tag() }}
        <div class="filter-field">
            <label>{{ filter_form.from_year.label() }}</label>
            {{ filter_form.from_year(value=from_year) }}
        </div>
        <div class="filter-field">
            <label>{{ filter_form.to_year.label() }}</label>
            {{ filter_form.to_year(value=to_year) }}
        </div>
        {{ filter_form.submit(class="btn") }}
    </form>
</div>

{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}

{% if movie_list %}
<table>
    <tr class="table-head">
        <td>Title</td>
        <td>Year</td>
        <td>Director</td>
        <td>Genre</td>
        <td>Rating</td>
    </tr>
    {% for movie in movie_list %}
    <tr>
        <td><a class="movie" href="{{ url_for('movies.movie', movie_id=movie.id) }}">{{ movie.title }}</a></td>
        <td>{{ movie.year }}</td>
        <td>{{ movie.director }}</td>
        <td>{{ movie.genre }}</td>
        <td>{{ movie.calculate_score() }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<h2 class="middle-text">{{ empty_message }}</h2>
{% endif %}
<a href="{{ url_for('movies.add_movie') }}" class="btn right-btn-margin bottom-margin">Add Movie</a>
{% endblock content %}