{% extends 'base.html' %}

{% block content %}
<h1 class="middle-text">{{ movie.title }}</h1>

{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}

<div class="div-row">
    <div class="div-cell"><span><b>Director:</b> {{ movie.director }}</span></div>
    <div class="div-cell"><span><b>Genre:</b> {{ movie.genre }}</span></div>
</div>
<div class="div-row">
    <div class="div-cell"><span><b>Year:</b> {{ movie.year }}</span></div>
    <div class="div-cell">
        <a href="{{ url_for('movies.update_movie', movie_id=movie.id) }}" class="btn right-btn-margin button-margin">Update</a>
    </div>
</div>
<a href="{{ url_for('movies.delete_movie', movie_id=movie.id) }}"
   class="btn right-btn-margin button-margin red btn-right">Delete</a>

<h2 class="table-title-left">Reviews</h2>
{% if movie.reviews %}
<table>
    <tr class="table-head">
        <td>Nickname</td>
        <td>Score</td>
        <td>Comment</td>
    </tr>
    {% for review in movie.reviews %}
    <tr>
        <td>{{ review.nickname }}</td>
        <td>{{ review.score }}</td>
        <td><a class="review" href="{{ url_for('reviews.review', review_id=review.id) }}">{{ review.comment }}</a></td>
    </tr>
    {% endfor %}
</table>
{% else %}
<h2 class="middle-text">There is no reviews to this movie yet.</h2>
{% endif %}
<div class="div-row bottom-margin">
    <div class="div-cell">
        <span><b>Rating:</b> {{ movie.calculate_score() }}</span>
    </div>
    <div class="div-cell">
        <a href="{{ url_for('reviews.add_review', movie_id=movie.id) }}" class="btn right-btn-margin button-margin">Add
            Review</a>
    </div>
</div>
{% endblock content %}