{% extends 'base.html' %}

{% block content %}
<h1 class="middle-text">Review by {{ review.nickname }}</h1>
<div class="div-row">
    <div class="div-cell"><span><b>Movie:</b> {{ review.movie.title }}</span></div>
    <div class="div-cell"><span><b>Score:</b> {{ review.score }}</span></td></div>
</div>
<h2 class="table-title-left">Review itself:</h2>
<div class="text">
    <p>{{ review.comment }}</p>
</div>
<div class="div-row">
    <div class="div-cell">
        <a href="{{ url_for('movies.movie', movie_id=review.movie.id) }}" class="btn add button-margin left">Movie Page</a>
    </div>
    <div class="div-cell">
        <a href="{{ url_for('reviews.update_review') }}" class="btn add button-margin left">Update</a>
        <button class="btn add red button-margin">Delete</button>
    </div>
</div>
{% endblock content %}