{% extends 'base.html' %}

{% block navigation %}
<a href="{{ url_for('movies.movies_page') }}">Movies</a>
<a class="active" href="{{ url_for('reviews.reviews_page') }}">Reviews</a>
{% endblock navigation %}

{% block content %}
{{ super() }}

{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}

{% if reviews_list %}
<table class="bottom-margin">
    <tr class="table-head">
        <td>Nickname</td>
        <td>Score</td>
        <td>Movie</td>
        <td>Comment</td>
    </tr>
    {% for review in reviews_list %}
    <tr>
        <td>{{ review.nickname }}</td>
        <td>{{ review.score }}</td>
        <td>{{ review.movie.title }}</td>
        <td><a class="review" href="{{ url_for('reviews.review', review_id=review.id) }}">
            {% if review.comment|length <= 45 %}
            {{ review.comment }}
            {% else %}
            {{ review.comment[:45] }}...
            {% endif %}
        </a></td>
    </tr>
    {% endfor %}
</table>
{% else %}
<h2 class="middle-text">There are no reviews in the database right now.</h2>
{% endif %}
{% endblock content %}